.priority_list{
    display: flex;
    flex-direction: column;
}

.priority{
    height: 20%;
    width: 100%;
    min-height: 150px;
    border: 1px solid yellow;
    color: white;
}

/* ------------------------- Blinking Header -----------------------*/
.heading-container{
    padding: 0.5rem 0rem;
}

@keyframes blinker {  
    from { opacity: 1; }
    to { opacity: 0.3; }
}

.blink {
    color: #BB1919;
    display: inline-block;
    margin-right: 0.3rem;
    font-size: 0.7rem;
    vertical-align:0.1rem;
    animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}

/* ------------------------------------------------------------------*/

