.main-sidebar{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.col{
    /* background-color: black; */
    /* border: 1px solid black; */
    /* margin-left: 0.5rem; */
    /* margin-right: 0.5rem; */
    padding: 1rem;
    min-width: 25ch;
    height: 100vh;
}

.main{
    flex: 1 1 65%;
    display:flex; 
    flex-direction: column;
}

.hot-news{
    height: 60vh;
    /* border: 1px solid yellow; */
    margin-bottom: 5vh;
}

.recent-container{
    height: 40vh;
    /* border: 1px solid yellow; */
    padding: 1rem;
    padding-left: 0;
    /* display: flex;
    flex-direction: row; */
    overflow: auto;
    white-space: nowrap;
    /* margin: auto; */
}

.recent{
    height: 100%;
    width: 35%;
    min-width: 200px;
    /* background-color: yellow; */
    display: inline-block;
    margin-left: 1rem;
}

.sidebar{
    flex: 1 1 35%;
    min-width: 30ch;
}