
.not-found-container{
    
    height: 70vh;
    user-select: none;
    line-height: 1.2;
    text-align: center;
    display: flex;
    flex: 2 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.not-found-heading{
    color:#BB1919;
    margin: 0;
}

.not-found-home-button button{
    background-color: black;
    color: white;
    border: 0;
    border-radius: 4px;
    padding: 1rem;
    cursor: pointer;
    /* transition: 0.5s ease; */
}

.not-found-home-button button:hover{
    background-color: rgba(0, 0, 0, 0.8);
}