/* Styles of the whole flexbox containing both columns */
.main-sidebar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Common styles of each column */
.col {
  padding: 1rem;
  min-width: 25ch;
  height: 100vh;
  /* border: 1px solid black; */
}

/* ------------------------ Main ------------------------*/
/* Hot News + Priority */
.main {
  flex: 1 1 65%;
  display: flex;
  flex-direction: column;
}

.hot-news {
  height: 60vh;
  /* border: 1px solid yellow; */
  margin-bottom: 5vh;
}

.recent-container {
  height: 50vh;
  /* border: 1px solid yellow; */
  /* padding: 0.5rem; */
  padding-left: 0;
  position: relative;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.heading-container {
  flex: 0 1 auto;
}

.heading {
  color: white;
  padding: 0.5rem 1rem;
  background: #bb1919;
  display: inline-block;
  font-size: 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.list-container {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
  background: rgb(255, 255, 255);
  box-shadow: 0.1rem 0.1rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);

  width: 100%;
}

.recent {
  flex: 1 1 30%;
  /* min-width: 200px;. */
  color: #000;
  border: 1px solid black;
  padding: 0.5rem;
}

/* ------------------------ Aside ------------------------*/
/* Recent */

.sidebar {
  flex: 1 1 35%;
  height: 65vh;
  /* overflow: auto;  */
  min-width: 30ch;
  margin-bottom: 5vh;
}

.priority-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}
.priority {
  height: 20%;
  width: 90%;
  min-height: 150px;
  border: 1px solid yellow;
  display: inline-block;
  margin-left: 1rem;
  color: white;
}

/* ------------------------- Blinking Header -----------------------*/
.heading-container {
  padding: 0rem 0rem;
  /* color: white; */
  text-transform: uppercase;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}

.blink {
  color: #bb1919;
  display: inline-block;
  margin-right: 0.3rem;
  font-size: 0.7rem;
  vertical-align: 0.1rem;
  animation: blinker 1s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}

/* ------------------------------------------------------------------*/
.priority-container::-webkit-scrollbar {
  width: 0.3rem;
}

/* Track */
.priority-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
.priority-container::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 0, 0, 0.8);
  /* box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
}
.priority-container::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(187, 25, 25, 0.5);
}

@media screen and (max-width: 600px) {
  .list-container {
    flex-direction: column;
  }
}
