.auth-header{
    background-color: rgba(0, 0, 0, 1);
    height: 50px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    border-bottom: 1px solid rgba(255, 255, 255, 0.349);
}

.auth-container{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-right: 2rem;
}

.btn{
    margin-right: 1rem;
    background-color: #BB1919;
    border: 1px solid #BB1919;
    color: #fff;
    /* border-radius: 0.5rem; */
    font-size: 0.75rem;
    font-weight: bold;
    padding: 7px;
    transition: 0.2s ease-out;
}


.btn:hover { 
    color: #ffffff;
    background: transparent;
    border: 1px solid #BB1919;
    cursor: pointer;
}